@{
    ViewBag.Title = "About";
}
<body class="white_body">
    <h1>@ViewBag.Title.</h1>
    <h3 class="aboutmain">Cima application</h3>
    <h3>By Hadi Hakim</h3>
    <a id="ownergmail" href="mailto:hadihakimco@gmail.com" target="_blank">hadihakimco@gmail.com</a>
    <p>This application for tracking your favorite movies.<br />
    Cinemas can register and create their movies and showtime. <br />
    Movies lovers can register as normal accounts thus they can <br />
    track their favorite movies; favrorite them and give their feedback.</p>

    <p>.</p>
</body>

<style>
    .aboutmain{
        color: royalblue;
        font-weight: bold;
        margin-top: 3vh;
    }

    #ownergmail{
        color: royalblue;
    }

    h3,h1{
        color: #55595c;
    }

    hr{
        width: 40vw;
    }
</style>
